<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LevelUP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{70,12}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{70,12}}</string>
                <key>sourceSize</key>
                <string>{72,12}</string>
            </dict>
            <key>broken_egg.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,122},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>button-play.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,448},{48,48}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{48,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>button-rotate-ccw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{48,48}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{48,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>chicken1.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{108,118}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{108,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>chicken2.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,200},{128,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{128,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>clock_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,416},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>clock_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,416},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>countdown_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{66,196}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,12},{66,196}}</string>
                <key>sourceSize</key>
                <string>{320,212}</string>
            </dict>
            <key>countdown_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,212},{128,202}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,5},{128,202}}</string>
                <key>sourceSize</key>
                <string>{320,212}</string>
            </dict>
            <key>countdown_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{124,208}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,2},{124,208}}</string>
                <key>sourceSize</key>
                <string>{320,212}</string>
            </dict>
            <key>dashboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,122},{50,40}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{50,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>egg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,442},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>egg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,442},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>egg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,442},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>egg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,442},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>egg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,442},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>egg6.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,448},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>eggLog.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,448},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>farmer_U0.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{186,220}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{186,220}}</string>
                <key>sourceSize</key>
                <string>{192,222}</string>
            </dict>
            <key>farmer_U1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{186,220}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{186,220}}</string>
                <key>sourceSize</key>
                <string>{192,222}</string>
            </dict>
            <key>farmer_U2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{186,220}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{186,220}}</string>
                <key>sourceSize</key>
                <string>{192,222}</string>
            </dict>
            <key>farmer_U3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,222}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{186,222}}</string>
                <key>sourceSize</key>
                <string>{192,222}</string>
            </dict>
            <key>farmer_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,224},{186,216}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{186,216}}</string>
                <key>sourceSize</key>
                <string>{192,222}</string>
            </dict>
            <key>flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,164},{48,40}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{48,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>home.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,324},{48,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{48,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,408},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>pausePress.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,324},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>quill.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,122},{44,44}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{44,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ec97da315a88a4b564f1c47576f33fb$</string>
            <key>textureFileName</key>
            <string>sprites-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
