<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MainMenu</key>
	<dict>
		<key>Start</key>
		<dict>
			<key>OriginX</key>
			<integer>260</integer>
			<key>OriginY</key>
			<integer>124</integer>
			<key>SizeX</key>
			<integer>180</integer>
			<key>SizeY</key>
			<integer>50</integer>
			<key>NormalImage</key>
			<string>newgame</string>
			<key>PressedImage</key>
			<string>newgamePress</string>
			<key>Target</key>
			<string>newGame:</string>
			<key>Icon</key>
			<string>flag.png</string>
		</dict>
		<key>Scores</key>
		<dict>
			<key>OriginX</key>
			<integer>260</integer>
			<key>OriginY</key>
			<integer>184</integer>
			<key>SizeX</key>
			<integer>180</integer>
			<key>SizeY</key>
			<integer>50</integer>
			<key>NormalImage</key>
			<string>score</string>
			<key>PressedImage</key>
			<string>scorePress</string>
			<key>Target</key>
			<string>scoreBoard:</string>
			<key>Icon</key>
			<string>dashboard.png</string>
		</dict>
		<key>About</key>
		<dict>
			<key>OriginX</key>
			<integer>260</integer>
			<key>OriginY</key>
			<integer>244</integer>
			<key>SizeX</key>
			<integer>180</integer>
			<key>SizeY</key>
			<integer>50</integer>
			<key>NormalImage</key>
			<string>about</string>
			<key>PressedImage</key>
			<string>aboutPress</string>
			<key>Target</key>
			<string>aboutTheGame:</string>
			<key>Icon</key>
			<string>quill.png</string>
		</dict>
	</dict>
	<key>ScoreMenu</key>
	<dict>
		<key>BackMain</key>
		<dict>
			<key>OriginX</key>
			<integer>260</integer>
			<key>OriginY</key>
			<integer>244</integer>
			<key>SizeX</key>
			<integer>180</integer>
			<key>SizeY</key>
			<integer>50</integer>
			<key>NormalImage</key>
			<string>goback</string>
			<key>PressedImage</key>
			<string>gobackPress</string>
			<key>Target</key>
			<string>backMain:</string>
			<key>Icon</key>
			<string>home.png</string>
		</dict>
	</dict>
	<key>AboutMenu</key>
	<dict>
		<key>BackMain</key>
		<dict>
			<key>OriginX</key>
			<integer>260</integer>
			<key>OriginY</key>
			<integer>244</integer>
			<key>SizeX</key>
			<integer>180</integer>
			<key>SizeY</key>
			<integer>50</integer>
			<key>NormalImage</key>
			<string>goback</string>
			<key>PressedImage</key>
			<string>gobackPress</string>
			<key>Target</key>
			<string>backMain:</string>
			<key>Icon</key>
			<string>home.png</string>
		</dict>
	</dict>
</dict>
</plist>
